<div class="app-header header-shadow">
  <div class="app-header__logo">
    <div
      class="name"
      style="
        font-family: 'Leckerli One', sans-serif;
        font-size: 20px;
        white-space: nowrap;
        margin-bottom: 0;
        font-weight: 600;
        color: #cb748e;
      "
    >
      <p style="margin-bottom: 0; color: #cb748e">Shifiny Cosmetic</p>
    </div>
    <div class="header__pane ml-auto">
      <div>
        <button
          type="button"
          class="hamburger close-sidebar-btn hamburger--elastic"
          data-class="closed-sidebar"
        >
          <span class="hamburger-box">
            <span class="material-symbols-outlined"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <div>
      <button
        type="button"
        class="hamburger hamburger--elastic mobile-toggle-nav"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-header__menu">
    <span>
      <button
        type="button"
        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav"
        style="background-color: #cb748e"
      >
        <span class="btn-icon-wrapper">
          <i class="fa fa-ellipsis-v fa-w-6"></i>
        </span>
      </button>
    </span>
  </div>
  <div class="app-header__content">
    <div class="app-header-left">
      <div class="search-wrapper">
        <div class="input-holder">
          <input
            type="text"
            class="search-input"
            placeholder="Type to search"
          />
        </div>
        <button class="close"></button>
      </div>
    </div>
  </div>
</div>
