@use "../../abstracts/" as abst;

.ctm_inf {
  font-size: 18px;
  padding: 0px 0 100px;
  color: abst.$text-gray-color;
}
tbody {
  border-style: none;
  vertical-align: unset !important;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none;
}
