@use "../../abstracts/" as abst;
#information {
  & > label {
    display: grid;
    grid-template-columns: 3fr 12fr 1fr 4fr;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    color: abst.$text-gray-color;
    & > input {
      border-radius: 0px;
      margin-right: 5px;
      color: abst.$text-gray-color;
    }
  }
}
.button_edit {
  background: none;
  text-decoration: underline;
  color: #1da1f2;
}
#delivery {
  /* background: #ccc; */
  display: grid;
  gap: 10px;
  & > label {
    & > p {
      font-size: 16px;
      font-weight: 600;
      color: abst.$text-gray-color;
      margin-bottom: 5px;
    }
  }
}
