.footer-container
    .footer-support
        h3 Hỗ trợ khách hàng 
        ul
            a.li(href="#") Danh sách thương hiệu
            a.li(href="#") Các nhóm hàng hóa
            a.li(href="#") Hướng dẫn đặt hàng trên website
            a.li(href="#") Phí vận chuyển
            a.li(href="#") Thông tin chuyển hàng
    .footer-aboutus 
        h3 Về chúng tôi
        ul
            a.li(href="#") Our story
            a.li(href="#") Feedback
            a.li(href="#") Thương hiệu
    .footer-brand
        h3.name  Shifiny Cosmetic
        ul
            li Say hello: 💌 shifiny@gmail.com
            li Skype: shifiny1
            li WhatsApp: +8801736889426
            li Thanks!
        .policy
            img(src="../static/images/footer/policy.png", alt="policy")
            ul
                a.li(href="#") Chính sách đặt hàng
                a.li(href="#") Chính sách Bảo mật thông tin
        .social
            ul
                a.li(href="#")
                    img(src="../static/images/footer/Facebook.png", alt="social") 
                a.li(href="#")
                    img(src="../static/images/footer/Instagram.png", alt="social") 
                a.li(href="#")
                    img(src="../static/images/footer/LinkedIn.png", alt="social") 
                a.li(href="#")
                    img(src="../static/images/footer/Twitter.png", alt="social") 
                a.li(href="#")
                    img(src="../static/images/footer/WhatsApp.png", alt="social") 