.header
    .topheader
        .logo
            img(src='../static/images/header/logo.png', alt='logo').img-logo
            .name
                p Shifiny Cosmetic
        .right-header
            form
                a(href="#").search-action
                    img(src='../static/images/header/search.png', alt='search').search-icon
                input.search-input(type="text" placeholder="Search")
            .cart
                a(href="./cart.html").header-action
                    img(src='../static/images/header/cart.png' alt="cart")
            #loginBtn.user
                a(href="#").header-action
                    img(src='../static/images/header/user.png' alt="user")
                    
    .navbar
        a.hotline 
            img(src='../static/images/header/phone.png', alt='logo').img-logo
            p : 1900 636 510
        ul.pages
            a(href="./index.html") Trang chủ
            a(href="./products.html") Sản phẩm    
            a(href="./review.html") Review
            a(href="./contact.html") Liên hệ
