.review_sidebar 
   .h3-title Recent News
   ul.recent-list
    li.recent-new-item
        img(src="../static/images/review/recent1.jpg", alt="").img-recent
        .recent-new-des 
            p.recent-new-title Son kem Gucci Lip Rouge Liquid
            p.recent-new-time 02/03/2024
    li.recent-new-item
        img(src="../static/images/review/recent2.jpg", alt="").img-recent
        .recent-new-des 
            p.recent-new-title Son kem Gucci Rouge Liquid
            p.recent-new-time 02/03/2024
    li.recent-new-item
        img(src="../static/images/review/recent3.jpg", alt="").img-recent
        .recent-new-des 
            p.recent-new-title Son kem Gucci Rouge Liquid
            p.recent-new-time 02/03/2024