.sidebar 
    ul
        li 
            a(href="#") Trang điểm
        li 
            a(href="#") Chăm sóc da mặt
        li 
            a(href="#") Chăm sóc cơ thể
        li 
            a(href="#") Chăm sóc tóc
        li 
            a(href="#") Thiết bị làm đẹp
        li 
            a(href="#") Thực phẩm chức năng