* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
a:hover {
  color: #000;
}
