$font-primary: "Nunito", sans-serif;
// $text-black1-color: #1b1d21;
// $gray-a9: #e9eef4;
// $gray2: #a6a7b2;
// $neutral1: hsla(0, 0%, 99%, 1);
// $gray1: #5f6164;
// $color-border: #ffbaa5;
// $gray-natural1: #f8f8f8;
// $primary-black: #232333;
$blue-gray: #e8ebf2;
$pink-primary: #cb748e;
$gray1: #e5e5e5;
$gray2: #d9d9d9;
$gray3: #bebbbb;
$gray4: #76767d;
$gray5: #a6a7b2;
$text-gray-color: #8494ab;
$gray-natural2: #f0f3f6;

$pink0: #f8d0d1;
$pink1: #f7d0d1;
$pink2: #eeabae;
$pink3: #cd7583;
$white: #f8f8f8;
$red1: #af393d;
$gray-natural2: #ffa7c9;
