<div class="footer-container">
  <div class="footer-support">
    <h3>Hỗ trợ khách hàng</h3>
    <ul>
      <a class="li" href="#">Danh sách thương hiệu</a
      ><a class="li" href="#">Các nhóm hàng hóa</a
      ><a class="li" href="#">Hướng dẫn đặt hàng trên website</a
      ><a class="li" href="#">Phí vận chuyển</a
      ><a class="li" href="#">Thông tin chuyển hàng</a>
    </ul>
  </div>
  <div class="footer-aboutus">
    <h3>Về chúng tôi</h3>
    <ul>
      <a class="li" href="#">Our story</a
      ><a class="li" href="#">Feedback</a
      ><a class="li" href="#">Thương hiệu</a>
    </ul>
  </div>
  <div class="footer-brand">
    <h3 class="name">Shifiny Cosmetic</h3>
    <ul>
      <li>Say hello: 💌 shifiny@gmail.com</li>
      <li>Skype: shifiny1</li>
      <li>WhatsApp: +8801736889426</li>
      <li>Thanks!</li>
    </ul>
    <div class="policy">
      <img src="../static/images/footer/policy.png" alt="policy" />
      <ul>
        <a class="li" href="#">Chính sách đặt hàng</a
        ><a class="li" href="#">Chính sách Bảo mật thông tin</a>
      </ul>
    </div>
    <div class="social">
      <ul>
        <a class="li" href="#"
          ><img src="../static/images/footer/Facebook.png" alt="social" /></a
        ><a class="li" href="#"
          ><img src="../static/images/footer/Instagram.png" alt="social" /></a
        ><a class="li" href="#"
          ><img src="../static/images/footer/LinkedIn.png" alt="social" /></a
        ><a class="li" href="#"
          ><img src="../static/images/footer/Twitter.png" alt="social" /></a
        ><a class="li" href="#"
          ><img src="../static/images/footer/WhatsApp.png" alt="social"
        /></a>
      </ul>
    </div>
  </div>
</div>
